@import "../node_modules/tailwindcss/tailwind.css";

@font-face {
    font-family: "Afacad";
    src: url('resources/Afacad/Afacad-VariableFont_wght.woff') format('woff');
  }

@layer base {
  html {
    font-family: "Afacad";
  }
}